<td class="py-2 pl-4">
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" [(ngModel)]="member.selected"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
    </div>
</td>
<td class="py-2 pr-2">
    <div class="flex items-center">
        <img class="rounded-full" *ngIf="member.image" [src]="member.image" class="mr-2 h-10 w-10 flex-none rounded-sm"
            alt="" />
        <div class="rounded-full  bg-gray-200/25 p-2 font-semibold text-gray-500 mr-4">{{ member.name.first_name |
            intialCase}}{{ member.name.last_name | intialCase}}</div>
        <div class="flex flex-col justify-items-start">
            <a href="#" class="mb-1 text-sm font-semibold text-gray-600 ">{{
                member.name.first_name + ' ' + member.name.last_name }}</a>
            <span class=" text-gray-400">{{member.name.handle}}</span>

            <span class="text-xs font-semibold text-gray-400">{{ member.creator }}</span>
        </div>
    </div>
</td>
<td class="text-left">
    <span class=" border border-solid py-1 pl-1 pr-2 text-xs font-semibold rounded-full"
        [ngClass]="member.status == 'Churned' ? ' border-gray-400  bg-gray-10 text-gray-500' : ' border-green-400   bg-green-50 text-green-500'">&#x2022;
        {{ member.status }} </span>
</td>
<td class="text-left">
    <span class="text-sm font-semibold text-gray-400 ">{{ member.role }}</span>
</td>
<td class="text-left pr-4">
    <div class="flex">
        <div class=" bg-gray-200 rounded-full h-2 w-40 my-1">
            <div class="bg-purple-600 h-2.5 rounded-full" [ngStyle]="{'width': member.license_used + '%' }"></div>
        </div>
        <span class="text-sm font-semibold text-gray-600 pl-2 ">{{ member.license_used }}%</span>
    </div>
</td>
<td class="text-left">
        <span *ngFor="let team of member.teams" class=" border border-solid py-1 pl-2 mr-2 pr-2 text-xs font-semibold rounded-full"
            [ngStyle]="{'background-color': team?.background_color , 'color': team?.text_color, 'border-color':team?.text_color}">{{ team.value }}</span>
    
</td>
<td class="text-left text-gray-500">
    <i class="fa fa-trash cursor-pointer" aria-hidden="true" (click)="deleteUser(member.id)"></i>
    <i class="fa-solid fa-pen cursor-pointer ml-4" (click)="editUser(member.id)"></i>
</td>