 <td>
    <div class="flex items-center mb-4">
        <input id="default-checkbox" type="checkbox" value="" [(ngModel)]="member.selected" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
 </td>
 <td class="py-2 pr-2">
    <div class="flex items-center">
      <img [src]="member.image" class="mr-2 h-10 w-10 flex-none rounded-sm" alt="" />
      <div class="flex flex-col justify-items-start">
        <a href="#" class="mb-1 text-sm font-semibold text-gray-900 ">{{
          member.name.first_name + ' ' + member.name.last_name  }}</a>
        <span class="text-xs font-semibold text-gray-400 dark:text-night-300">{{ member.creator }}</span>
      </div>
    </div>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="flex items-center rounded-md border-solid border-gray-50 bg-green-200/25 py-1 pr-2 pl-1 ml-2 text-xs font-semibold text-green-500" >{{ member.status }} </span>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400 ">{{ member.role  }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <!-- <div class="ml-4 flex items-center justify-start">
          <img [src]="member.avatar" class="mr-3 h-8 w-8 rounded-b-md" alt="" />
      </div> -->
    <span class="text-sm font-semibold text-gray-400 ">{{ member.license_used }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400 ">{{ member.teams }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <i class="fa fa-trash" aria-hidden="true"></i>
</td>
  <td class="py-2 pl-2 text-right">
    <i class="fa-solid fa-pen"></i>
  </td>
  