<nav class="h-full flex-col justify-between overflow-auto bg-white pt-3">
  <div class="px-4">
    
    <!-- Logo -->
    <div class="relative h-10">
      <div class="flex items-center" >
        <a class="flex items-center justify-center rounded bg-primary-500 p-2 focus:outline-none focus:ring-1">
          <i class="fas fa-spinner fa-spin"></i>
        </a>
      </div>
    </div>

    <!-- Nav -->
    <ul class="flex flex-col space-y-1">
      <li>
        <i class="fa-solid fa-house"></i>
      </li>
      <li>
        <i class="fas fa-spinner fa-spin"></i>
      </li>
      <li>
        <i class="fas fa-spinner fa-spin"></i>
      </li>
      <li>
        <i class="fas fa-spinner fa-spin"></i>
      </li>

    </ul>
  </div>
</nav>
