.nav-items{
    ul{
        margin: 0;
    }
    li{
        cursor: pointer;
        text-align: center;
        padding: 2px;
    }
    i{
      color: gray;
      font-size: 16px;
    }
    .user-icon{
        position: relative;
        left: -9px;
    }
}