<nav class="h-full flex flex-col justify-between overflow-auto bg-white pt-3">
  <div class="px-4">
    
    <!-- Logo -->
    <div class="relative h-10 mb-5">
      <div class="flex items-center" >
        <a class="flex items-center justify-center rounded bg-primary-500 p-2 focus:outline-none focus:ring-1">
          <img src="assets/images/logo.png" width="30" />
        </a>
      </div>
    </div>

    <!-- Nav -->
    <ul class="nav-items flex flex-col space-y-5 px-3">
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-house"></i>
      </li>
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-chart-simple"></i>
      </li>
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-file-circle-check"></i>
      </li>
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-chart-pie"></i>
      </li>
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-users"></i>
      </li>

    </ul>
   
  </div>
  <div class="mx-4 my-4 space-y-1">
    <ul class="nav-items flex flex-col space-y-5 px-3">
      <li class="hover:bg-gray-100">
        <i class="fa-regular fa-life-ring"></i>
      </li>
      <li class="hover:bg-gray-100">
        <i class="fa-solid fa-gear"></i>
      </li>
      <li class="user-icon hover:bg-gray-100">
        <img src="assets/images/user.png" width="40" class="rounded-full">
      </li>

    </ul>
  </div>
</nav>
