<div class="flex h-screen w-full overflow-hidden">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
  
    <div class="flex grow flex-col content-start overflow-hidden">
      <!-- main content -->
     
      <div
        id="main-content"
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 ">
        <!-- Team Members datagrid -->
        <div class="top-content">
            <app-top-section></app-top-section>
        </div>
        <app-team-members></app-team-members>
      </div>

    </div>
  </div>
  