
<div class="px-10">
    <div class="mb-4 pt-10 flex justify-between">
        <h2>Welcome back, Olivia</h2>
        <div class="inline-block space-x-4">
            <button>Customize</button>
            <button>Export</button>
        </div>
    </div>
    <div class="flex">
    <div id="left-container">
        <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 100%; height: 400px; display: block;">
     </highcharts-chart>
    </div>
    <div id="right-container">
        <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 100%; height: 400px; display: block;">
     </highcharts-chart>
    </div>
    </div>
</div>