<div class="px-5 mb-5">
    <div class="mb-4 pt-7 flex justify-between">
        <h2 class="font-semibold text-2xl text-gray-900">Welcome back, Olivia</h2>
        <div class="inline-block space-x-4">
            <button class=" text-gray-500 mr-1 py-1"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button
                class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 "><i
                    class="fa-solid fa-sliders pr-2"></i>Customize</button>
            <button
                class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 "><i
                    class="fa-solid fa-download pr-2"></i> Export</button>
        </div>
    </div>
    <div class="flex ">
        <div id="left-container" class="border border-solid rounded-lg border-gray-200 w-3/4 mr-5">
            <header class="w-full flex border-b justify-between  border-gray-200 p-6 header-section">
                <div class="flex">
                    <div class="text-5xl bg-gray-700 rounded-full text-white p-4">
                        <i class="fa-solid fa-cube"></i>
                    </div>
                    <div class="pl-5 pt-4">
                        <div class="text-xl text-gray-800">Vendor breakdown</div>
                        <div class="text-xs text-gray-400">Keep track of vendors and there security ratings.</div>
                    </div>
                </div>
                <div>
                    <button
                        class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 dark:bg-night-600 grid-options"><i
                            class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                </div>
            </header>
            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                [title]="chartOptions.title!"></apx-chart>
                <footer class="w-full flex-row border-t justify-between border-gray-200 p-4 ">
                    <button
                    class="flex-none rounded-md bg-gray-100 px-4 mb-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 float-right">View full report</button>
                </footer>
        </div>
        <div id="right-container" class="border border-solid rounded-lg border-gray-200 w-1/4">
            <header class="w-full flex border-b justify-between  border-gray-200 p-6 header-section">
                <div class="flex">
                    <div class="pl-5 pt-4">
                        <div class="text-xl text-gray-800">Vendor Monitored</div>
                        <div class="text-xs text-gray-400">You're using 80% available spots.</div>
                    </div>
                </div>
                <div>
                    <button
                        class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 dark:bg-night-600 grid-options"><i
                            class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                </div>
            </header>
            <apx-chart [series]="donutChartOptions.series!" [chart]="donutChartOptions.chart!"
                [xaxis]="donutChartOptions.xaxis!" [title]="donutChartOptions.title!"></apx-chart>
            <div class="p-6">
                <div class="text-sm text-gray-800">You've almost reach your limit</div>
                <P class="text-sm text-gray-400">You have used 80% of your available spots.
                    Upgrade plan to monitor more vendors.
                </P>
            </div>
            <footer class="w-full flex-row border-t justify-between border-gray-200 p-4">
                <button
                class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 float-right"><i
                    class="fa-solid fa-download pr-2"></i> Upgrade Plan</button>
            </footer>
        </div>
    </div>
</div>